.description {
    // Occupy 60% space
    flex: 0 0 60%;
    margin-right: 4.5rem;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;

    @media only screen and (max-width: $bp-medium) {
        margin-right: 3rem;
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}