.overview {
    display: flex;
    border-bottom: var(--line);
    align-items: center;

    &__header {
        display: flex;
        align-items: center;
        // Free space will be the right margin for created a big gap
        margin-right: auto;

        &-heading {
            font-size: 2rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1.5rem 2rem;
    
            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
                padding: 1.25rem 2rem;
            }
    
            @media only screen and (max-width: $bp-mobile-smallest) {
                font-size: 1.7rem;
                padding: 1.25rem 1.4rem;
            }
    
            @media only screen and (max-width: $bp-mobile-smallest) {
                padding: 0 0 .5rem 0;
            }
        }
    
        &-stars {
            // By default svg icons are treated as text and they have a little white space below them. It was causing issue in center alignment.
            // Setting line-height to 0 gets rid of that space.
            // Same behaviour can be acheived by setting display to flex.
            line-height: 0;
        }

        @media only screen and (max-width: $bp-mobile-smallest) {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 1.25rem 2rem;
        }
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__icon-location {
        margin-right: .5rem;
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        padding: 0 2rem;

        // claim all vertical space.
        align-self: stretch;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }

        @media only screen and (max-width: $bp-mobile-smallest) {
            margin-left: 2rem;
        }
    }

    &__rating-average {
        font-size: 2rem;
        font-weight: 300;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            font-size: .5rem;
        }
    }
}